<div class="row">
  <div class="col-md-10">
    <h2>Categories</h2>
    <%= render partial: "categories/category_list", collection: @categories %>
    <%= will_paginate @categories %>
  </div>
</div>
