<tr>
  <td><%= word.keyword %></td>
  <td><%= link_to t("links.view_meaning"), [:admin, word] %></td>
  <td><%= link_to t("links.edit"), edit_admin_word_path(word) %></td>
  <td><%= link_to t("links.delete"), [:admin, word], method: :delete, 
                  data: {confirm: t("messages.confirm_delete")} %>
  </td>
</tr>
