<div class="row">
  <div class="col-md-3">
    <%= gravatar_for @user %>
  </div>
  <div class="col-md-8">
    <h5><b>Name:</b> <%= @user.username %></h5>
    <h5><b>Email:</b> <%= @user.email %></h5>
  </div>
</div>