<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading"><b>Result</b></div>
      <div class="panel-body">
        <table class="table">
          <%= render partial: "result", collection: @word_lessons %>
        </table>
      </div>
    </div>    
  </div>
</div>
