<% provide :title, "Categories" %>
<div class="row">
  <div class="col-md-10">
    <p><%= link_to t(:lb_add_new), new_admin_category_path, "data-toggle" => "modal",
                    remote: true, "data-target" => "#form-modal", 
                    class: "btn btn-primary" %>
    </p>
    <table class="table table-bordered table-hover">
      <th>Name</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
      <tbody class="category-row">
        <%= render @categories %>
      </tbody>
    </table>
    <div class="paginate"><%= render "shared/paginate" %></div>
  </div>
</div>

<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
