<% provide :title, "Show Categories" %>
<div class="row">
  <div class="col-md-10">
    <h3>
      <span class="label label-success">Category: <%= @category.name %></span>
      <span><%= link_to t(:lb_add_word), new_admin_word_path,
                         class: "btn btn-primary pull-right" %></span>
    </h3>
    <table class="table table-bordered table-hover">
      <th>Word</th>
      <th colspan="3">Actions</th>
      <tbody class="word-row">
        <%= render @words %>
      </tbody>
    </table>
    <%= will_paginate @words %>
  </div>
</div>
