<tr>
  <td><%= category.name %></td>
  <td><%= category.description %></td>
  <td><%= link_to t(:lb_edit), edit_category_path(category), remote: true,
                  "data-toggle" => "modal",
                  "data-target" => "#form-modal",
                  class: "glyphicon glyphicon-edit" %>
  </td>
  <td><%= link_to t(:lb_delete), category, method: :delete, 
                  data: {confirm: "Are you sure to delete?"}, 
                  remote: true,
                  class: "glyphicon glyphicon-remove" %>
  </td>
</tr>
